
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomePage</title>
   
  </head>
  <body>
<h1>This is home Page</h1>
<p>  <td><%= link_to 'Article List',articles_path %></td> </p>
<p>  <td><%= link_to 'Go to About',about_path %></td> </p>
  </body>
</html>





